<footer class="footer">

        <div class="contenedor-footer">

            <div class="columna">
                <h3>Contacto</h3>
                <p>info@tu-ecommerce.com</p>
                <p>+54 9 9999-1234</p>
            </div>
            <div class="columna">
                <h3>Redes Sociales</h3>
                <div class="iconos">
                    <a href="https://facebook.com" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://wa.me/5491112345678" class="whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="columna">
                <h3>Ubicación</h3>
                <p>Mitre, 8952, CABA</p>
                <p>Buenos Aires, Argentina</p>
            </div>
            </div>

        <div class="derechos">
            &copy; 2025 - Quimex. Todos los derechos reservados.
        </div>
        
</footer>