
<nav class="navbar">
    <div class="brand">Quimex</div>
    <div class="menu-icon">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
